body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(40, 149, 139);
}

h1 {
    text-align: center;
    color: rgb(244, 239, 70);
    font-size: 48px;
}

img {
    border: 10px solid white;
    margin: 5px;
}

.img-chica {
    width: 13.4%;
}
